<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <CodeManager.Properties.Settings>
            <setting name="Code_Columns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Category_ID</string>
                        <string>Category_Description</string>
                        <string>Code_Name</string>
                        <string>Code_Type</string>
                        <string>Code_ID</string>
                        <string>Code_Cause</string>
                        <string>Code_Cause_English</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Category" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SANWA.Robot,Robot 命令</string>
                        <string>KAWASAKI.Robot,Robot 命令</string>
                        <string>SANWA.Aligner,Aligner 命令</string>
                        <string>KAWASAKI.Aligner,Aligner 命令</string>
                        <string>COGNEX.OCR,OCR 命令</string>
                        <string>HST.OCR,OCR 命令</string>
                        <string>TDK.LoadPort,LoadPort 命令</string>
                        <string>00,SANWA Robot Error 機台錯誤訊息</string>
                        <string>A0,SANWA Aligner Error 機台錯誤訊息</string>
                        <string>11,TDK LoadPort Error 機台錯誤訊息</string>
                        <string>System,系統訊息</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CodeManager.Properties.Settings>
    </applicationSettings>
</configuration>