<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Instruction_editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SANWA_Sorter_Instruction_editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Instruction_editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SANWA_Sorter_Instruction_editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <applicationSettings>
    <Instruction_editor.Properties.Settings>
      <setting name="EquipmentType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Robot</string>
            <string>Aligner</string>
            <string>Load Port</string>
            <string>OCR</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CommandType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>GET</string>
            <string>SET</string>
            <string>CMD</string>
            <string>FUN</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Command_Parameter_Columns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Equipment_Type</string>
            <string>Equipment_Supplier</string>
            <string>Command_Type</string>
            <string>Command_ID</string>
            <string>Command_Format</string>
            <string>Command_Name</string>
            <string>Command_Order</string>
            <string>Parameters_Amount</string>
            <string>Parameter_Order</string>
            <string>Parameter_ID</string>
            <string>Parameter_Description</string>
            <string>Data_Value</string>
            <string>Min_Value</string>
            <string>Max_Value</string>
            <string>Default_Value</string>
            <string>Values_length</string>
            <string>Is_Fill</string>
            <string>Action_Function</string>
          </ArrayOfString>
        </value>
      </setting>
    </Instruction_editor.Properties.Settings>
    <SANWA_Sorter_Instruction_editor.Properties.Settings>
      <setting name="EquipmentType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Robot</string>
            <string>Aligner</string>
            <string>Load Port</string>
            <string>OCR</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CommandType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>GET</string>
            <string>SET</string>
            <string>CMD</string>
            <string>FUN</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Command_List_Columns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Equipment_Type</string>
            <string>Equipment_Supplier</string>
            <string>Command_Type</string>
            <string>Command_ID</string>
            <string>Command_Name</string>
            <string>Parameters_Amount</string>
            <string>Command_Available</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Command_Parameter_Columns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Command_ID</string>
            <string>Parameter_Order</string>
            <string>Parameter_ID</string>
            <string>Parameter_Description</string>
            <string>Max_Value</string>
            <string>Min_Value</string>
            <string>Default_Value</string>
            <string>Values_length</string>
            <string>Is_Fill</string>
          </ArrayOfString>
        </value>
      </setting>
    </SANWA_Sorter_Instruction_editor.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Instruction_editor.Properties.Settings>
      <setting name="Equipment_Supplier" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SANWA</string>
            <string>Kawasaki</string>
          </ArrayOfString>
        </value>
      </setting>
    </Instruction_editor.Properties.Settings>
    <SANWA_Sorter_Instruction_editor.Properties.Settings>
      <setting name="Equipment_Supplier" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SANWA</string>
            <string>Kawasaki</string>
          </ArrayOfString>
        </value>
      </setting>
    </SANWA_Sorter_Instruction_editor.Properties.Settings>
  </userSettings>
</configuration>